USE [BD_Sales]
GO
/****** Object:  Table [dbo].[LOAI_MAT_HANG]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MAT_HANG](
	[MaLoaiMatHang] [nvarchar](10) NOT NULL,
	[TenLoaiMatHang] [nvarchar](255) NULL,
	[DienGiai] [ntext] NULL,
	[NgayTao] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_LOAI_MAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiMatHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKhachHang] [nvarchar](255) NOT NULL,
	[TenKhachHang] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiaChi] [ntext] NULL,
	[Fax] [nvarchar](50) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[BaoGia] [int] NULL,
	[ChietKhau] [float] NULL,
	[NoDauKy] [float] NULL,
	[TenNguoiLienHe] [nvarchar](255) NULL,
	[NgayTao] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_CHI]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_CHI](
	[MaPhieuChi] [nvarchar](10) NOT NULL,
	[NgayChi] [smalldatetime] NULL,
	[NguoiNhan] [nvarchar](255) NULL,
	[SoTien] [float] NULL,
	[LyDo] [nvarchar](255) NULL,
	[NhaCungCap] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_CHI] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUOC_SAN_XUAT]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUOC_SAN_XUAT](
	[MaNuocSanXuat] [nvarchar](50) NOT NULL,
	[TenNuocSanXuat] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NUOC_SAN_XUAT] PRIMARY KEY CLUSTERED 
(
	[MaNuocSanXuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiaChi] [ntext] NULL,
	[GhiChu] [ntext] NULL,
	[NgayTao] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNhaCungCap] [nvarchar](50) NOT NULL,
	[TenNhaCungCap] [nvarchar](256) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiaChi] [ntext] NULL,
	[Fax] [nvarchar](50) NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[NoDauKy] [float] NULL,
	[TenNguoiLienHe] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_THU]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THU](
	[MaPhieuThu] [nvarchar](10) NOT NULL,
	[NgayThu] [smalldatetime] NULL,
	[NguoiNop] [nvarchar](255) NULL,
	[SoTien] [float] NULL,
	[LyDo] [nvarchar](255) NULL,
	[KhachHang] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_THU] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[MaPhieuXuat] [nvarchar](10) NOT NULL,
	[NgayXuat] [smalldatetime] NULL,
	[MaNhanVienBanHang] [nvarchar](10) NULL,
	[TongTien] [float] NULL,
	[DaTra] [float] NULL,
	[KhachHang] [nvarchar](255) NULL,
	[LoaiPhieuXuat] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[NgayNhap] [smalldatetime] NULL,
	[MaNhaCungCap] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
	[ConNo] [float] NULL,
	[TragThai] [int] NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAT_HANG]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAT_HANG](
	[MaMatHang] [nvarchar](10) NOT NULL,
	[TenMatHang] [nvarchar](255) NULL,
	[MaLoaiMatHang] [nvarchar](10) NULL,
	[DonViTinh] [nvarchar](255) NULL,
	[DonGia] [float] NULL,
	[GiaMua] [float] NULL,
	[GiaBanSi] [float] NULL,
	[GiaBanLe] [float] NULL,
	[PT_GiaBanSi] [float] NULL,
	[PT_GiaBanLe] [float] NULL,
	[LuongMin] [int] NULL,
	[LuongMax] [int] NULL,
	[SoLuongTon] [int] NULL,
	[ThueVAT] [float] NULL,
	[XuatXu] [nvarchar](255) NULL,
	[DienGiai] [ntext] NULL,
	[MaVach] [nvarchar](50) NULL,
	[NgayTao] [smalldatetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_MAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MaMatHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_XUAT]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_XUAT](
	[MaPhieuXuat] [nvarchar](10) NOT NULL,
	[MaMatHang] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ChietKhau] [float] NULL,
	[ThanhTien] [float] NULL,
	[ThueVAT] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC,
	[MaMatHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_THU]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_THU](
	[MaPhieuThu] [nvarchar](10) NOT NULL,
	[MaPhieuXuat] [nvarchar](10) NOT NULL,
	[SoTien] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_THU] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC,
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[MaMatHang] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ChietKhau] [float] NULL,
	[ThanhTien] [float] NULL,
	[ThueVAT] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaMatHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_CHI]    Script Date: 09/28/2009 23:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_CHI](
	[MaPhieuChi] [nvarchar](10) NOT NULL,
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[SoTien] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_CHI] PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC,
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_CHI_PHIEU_CHI]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_CHI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_CHI_PHIEU_CHI] FOREIGN KEY([MaPhieuChi])
REFERENCES [dbo].[PHIEU_CHI] ([MaPhieuChi])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_CHI] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_CHI_PHIEU_CHI]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_CHI_PHIEU_NHAP]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_CHI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_CHI_PHIEU_NHAP] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEU_NHAP] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_CHI] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_CHI_PHIEU_NHAP]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_NHAP_MAT_HANG]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_MAT_HANG] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MAT_HANG] ([MaMatHang])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_MAT_HANG]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEU_NHAP] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAP_PHIEU_NHAP]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_THU_PHIEU_THU]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_THU_PHIEU_THU] FOREIGN KEY([MaPhieuThu])
REFERENCES [dbo].[PHIEU_THU] ([MaPhieuThu])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THU] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_THU_PHIEU_THU]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_THU_PHIEU_XUAT]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_THU_PHIEU_XUAT] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PHIEU_XUAT] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_THU] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_THU_PHIEU_XUAT]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_XUAT_MAT_HANG]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_MAT_HANG] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MAT_HANG] ([MaMatHang])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_MAT_HANG]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_XUAT_PHIEU_XUAT]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_PHIEU_XUAT] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PHIEU_XUAT] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_XUAT] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_XUAT_PHIEU_XUAT]
GO
/****** Object:  ForeignKey [FK_MAT_HANG_LOAI_MAT_HANG]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[MAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_MAT_HANG_LOAI_MAT_HANG] FOREIGN KEY([MaLoaiMatHang])
REFERENCES [dbo].[LOAI_MAT_HANG] ([MaLoaiMatHang])
GO
ALTER TABLE [dbo].[MAT_HANG] CHECK CONSTRAINT [FK_MAT_HANG_LOAI_MAT_HANG]
GO
/****** Object:  ForeignKey [FK_PHIEU_NHAP_NHA_CUNG_CAP]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP]
GO
/****** Object:  ForeignKey [FK_PHIEU_XUAT_KHACH_HANG]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHACH_HANG] FOREIGN KEY([KhachHang])
REFERENCES [dbo].[KHACH_HANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHACH_HANG]
GO
/****** Object:  ForeignKey [FK_PHIEU_XUAT_NHAN_VIEN]    Script Date: 09/28/2009 23:04:08 ******/
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN] FOREIGN KEY([MaNhanVienBanHang])
REFERENCES [dbo].[NHAN_VIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN]
GO
